body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #EFEBE9; /* crema */
    color: #3E2723;
    transition: background 0.4s ease, color 0.4s ease;
}

/* ===== HEADER ESTILO MARRÓN ===== */
header {
    background:
        linear-gradient(rgba(78, 52, 46, 0.7), rgba(109, 76, 65, 0.7)),
        url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 36px;
}

/* NAV */
nav {
    background-color: #4E342E;
    text-align: center;
    padding: 15px;
}

nav a {
    color: #D7CCC8;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #FFFFFF;
}

/* BOTÓN MODO */
#modoBtn {
    background: #6D4C41;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

#modoBtn:hover {
    background: #4E342E;
}

/* HERO */
.hero {
    padding: 80px 20px;
    text-align: center;
}

.overlay {
    background: #D7CCC8;
    padding: 50px;
    border-radius: 15px;
    max-width: 800px;
    margin: auto;
}

.hero h2 {
    color: #4E342E;
}

/* BOTONES */
button {
    background: #6D4C41;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background: #4E342E;
}

/* INFO */
.info {
    padding: 80px 20px;
    text-align: center;
    background-color: #D7CCC8;
}

/* FOOTER */
footer {
    background-color: #4E342E;
    color: white;
    text-align: center;
    padding: 15px;
}

/* ===== MODO OSCURO (CAFÉ OSCURO) ===== */
body.oscuro {
    background-color: #2E1F1B;
    color: #F5EDE6;
}

body.oscuro nav {
    background-color: #3E2723;
}

body.oscuro .overlay {
    background: #4E342E;
    color: white;
}

body.oscuro .info {
    background-color: #3E2723;
}

body.oscuro footer {
    background-color: #2E1F1B;
}

/* SECCIONES */
.section-info {
    padding: 40px 20px;
    background: #D7CCC8;
    margin: 30px auto;
    border-radius: 15px;
    max-width: 900px;
}

.section-info h2 {
    color: #4E342E;
}

.section-info img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

body.oscuro .section-info {
    background: #4E342E;
}